<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and Mongodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos doloribus sed ad cumque, labore beatae.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nesciunt maxime dignissimos assumenda nulla nobis illo unde. Ducimus, facere possimus?</p>
    <a href="https://www.google.com.co/" class="btn btn-primary">Go Google</a>
</div>